<div class="header-content">
  <div class="weather-info">
    <div class="temp-info">
      <p class="span1">26°C | Sunny</p>
      <p class="span2">at AUH</p>

      <a href="">
          <img class="weather-icon" src="./assets/images/Sunny_icon.png">
        </a>

    </div>
  </div>

  <div>
    <a href="">
        <img class="header-icon" src="./assets/images/Search_icon.svg">
      </a>
    <a href="">
        <img class="header-icon" src="./assets/images/Alarm_icon.svg">
      </a>
    <a href="">
        <img class="header-icon" src="./assets/images/Profile_icon.svg">
      </a>
  </div>
  <div class="menu">
    <a href="">
         <img class="menu-icon" src="./assets/images/Menu_icon.svg">
      </a>
  </div>
</div>